.section-about {
  background-color: $alabaster;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  margin-top: -10rem;
  background-image:
    linear-gradient(to right bottom, rgba($pastel_green, 0.8), rgba($emerald, 0.8)),
    url(/images/nat-4.jpg);
  background-size: cover;
  transform: skewY(-6deg);
  & > * {
    transform: skewY(6deg);
  } //seclection all direct childs
}

.section-tours {
  background-color: $alabaster;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;
}

.section-testimonials {
  padding: 15rem 0;
  position: relative;
}

.section-booking {
  
}
