<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Udemy Course">
    <meta name="author" content="Hans Hoffman">

    <title>Natours | Exciting tours for adventurous people</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="shortcut icon" type="image/png" href="<%= static_path(@conn, "/images/favicon.png") %>">
  </head>

  <body>
    <div class="nav">
      <input id="nav-toggle" class="nav__checkbox" type="checkbox" name="nav">
      <label class="nav__btn" for="nav-toggle">
        <span class="nav__icon"></span>
      </label>
      <div class="nav__background">&nbsp;</div>
      <nav class="nav__container">
        <ul class="nav__list">
          <li class="nav__item"><a class="nav__link" href="#"><span>01</span>About Natours</a></li>
          <li class="nav__item"><a class="nav__link" href="#"><span>02</span>Your Benefits</a></li>
          <li class="nav__item"><a class="nav__link" href="#"><span>03</span>Popular Tours</a></li>
          <li class="nav__item"><a class="nav__link" href="#"><span>04</span>Stories</a></li>
          <li class="nav__item"><a class="nav__link" href="#"><span>05</span>Book Now</a></li>
        </ul>
      </nav>
    </div>

    <div class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>

  <footer class="footer">
    <div class="footer__logo-box">
      <picture class="footer__logo">
        <source srcset="<%= static_path(@conn, "/images/logo-green-small-1x.png") %> 1x, <%= static_path(@conn, "/images/logo-green-small-2x.png") %> 2x" media="(max-width: 37.5em)">
        <img srcset="<%= static_path(@conn, "/images/logo-green-1x.png") %> 1x, <%= static_path(@conn, "/images/logo-green-2x.png") %> 2x" alt="Footer Logo" srcs="<%= static_path(@conn, "/images/logo-green-1x.png") %>">
      </picture>
    </div>
    <div class="row">
      <div class="col-1-of-2">
        <div class="footer__navigation">
          <ul class="footer__list">
            <li class="footer__item"><a class="footer__link" href="#">Company</a></li>
            <li class="footer__item"><a class="footer__link" href="#">Contact Us</a></li>
            <li class="footer__item"><a class="footer__link" href="#">Careers</a></li>
            <li class="footer__item"><a class="footer__link" href="#">Privacy</a></li>
            <li class="footer__item"><a class="footer__link" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
      <div class="col-1-of-2">
        <p class="footer__copyright">
          Built by me for Jonas Schmedtmann's
          <a class="footer__link" href="https://www.udemy.com/advanced-css-and-sass">Udemy Course</a>.<br/>
          Copyright &copy; Jonas Schmedtmann.
        </p>
      </div>
    </div>
  </footer>
</html>
