<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Udemy Course">
    <meta name="author" content="Hans Hoffman">

    <title>Natours | Exciting tours for adventurous people</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="shortcut icon" type="image/png" href="<%= static_path(@conn, "/favicon.png") %>" >
  </head>

  <body>
    <div class="">
      <header class="header">
        <div class="logo-box">
          <img class="logo" src="<%= static_path(@conn, "/images/logo-white.png") %>" alt="Natours Logo">
        </div>
        <div class="text-box">
          <h1 class="heading-primary">
            <span class="heading-primary-main">Outdoors</span>
            <span class="heading-primary-sub">is where life happens</span>
          </h1>
          <a href="#" class="btn btn-white btn-animated">Discover our tours</a>
        </div>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
