.btn {
  background-color: $color-primary;
  color: $porcelain;
  border: none;
  border-radius: 0;
  font-family: $font-display;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    background-color: $color-primary-dark;
  }
}

.btn-nav {
  border: none;
  border-radius: 0;
  background-color: $porcelain;
  height: .2rem;
  width: 4.5rem;
  margin-top: 4rem;

  &::before,
  &::after {
    content: "";
    display: block;
    background-color: $porcelain;
    height: .2rem;
    width: 4.5rem;
  }

  &::before {
    transform: translateY(-1.5rem);
  }

  &::after {
    transform: translateY(1.3rem);
  }

  @media only screen and (max-width: $breakpoint-lg) {
    margin-top: 0;
    margin-right: 3rem;

    &::before {
      transform: translateY(-1.2rem);
    }

    &::after {
      transform: translateY(1rem);
    }
  }
}
