<div class="container">
  <div class="sideNav">
    sideNav
  </div>

  <header class="header">
    Header
  </header>

  <div class="realtors">
    Realtors
  </div>

  <section class="features">
    Features
  </section>

  <div class="story__pictures">
    Story pictures
  </div>

  <div class="story__content">
    Story content
  </div>

  <section class="homes">
    Homes
  </section>

  <section class="gallery">
    Gallery
  </section>

  <div class="footer">
    Footer
  </div>
</div>
