$alabaster: #f7f7f7;
$black: #000000;
$boulder: #777777;
$dusty_gray: #999999;
$gallery: #eeeeee;
$mine_shaft: #333333;
$porcelain: #f6f8f9;

$primary: #eb2f64;
$primary_light: #ff3366;
$primary_dark: #ba256d;
