.sidebar {
  background-color: $grey-dark-1;
  flex: 0 0 18%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.nav-sidebar {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  @media only screen and (max-width: $breakpoint-md) {
    display: flex;
    margin-top: 0;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: .5rem;

      @media only screen and (max-width: $breakpoint-md) {
        margin-bottom: 0;
      }
    }

    @media only screen and (max-width: $breakpoint-md) {
      flex: 1;
    }
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: .3rem;
    background-color: $primary;
    transform: scaleY(0);
    transition:
      transform .2s,
      width .4s cubic-bezier(1, 0, 0, 1) .2s, //change speed to 1s to see they scaleY in action! Note: transform-origin defaults to center
      background-color .1s;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before {
    background-color: $primary_light;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: $grey-light-1;
    text-transform: uppercase;
    display: inline-block;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    position: relative; //must have if you're using z-index like we are below
    z-index: 10;

    @media only screen and (max-width: $breakpoint-md) {
      justify-content: center;
      padding: 2rem;
    }

    @media only screen and (max-width: $breakpoint-sm) {
      flex-direction: column;
      padding: 1.5rem .5rem;
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    margin-right: 2rem;
    fill: currentColor; //of parent element -> nav-sidebar__link. really powerful!!

    @media only screen and (max-width: $breakpoint-sm) {
      margin-right: 0;
      margin-bottom: .7rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  // &__icon-text {
  //
  // }
}
