$alabaster: #f7f7f7;
$black: #000000;
$boulder: #777777;
$burning_orange: #ff7730;
$burning_yellow: #ffb000;
$dodger_blue: #2998ff;
$emerald: #55c57a;
$gallery: #eeeeee;
$jungle_green: #28b485;
$mine_shaft: #333333;
$pastel_green: #7ed56f;
$porcelain: #f6f8f9;
$royal_blue: #5643fa;
