body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $boulder;
}

.heading-primary {
  color: $porcelain;
  text-transform: uppercase;
  backface-visibility: hidden; //hides shake?
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    // animation-delay: 3s;
    // animation-iteration-count: 3;

    @include respond(phone) {
      font-size: 5rem;
      letter-spacing: 1rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; //shorthand

    @include respond(phone) {
      font-size: .5rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, $pastel_green, $emerald);
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s;

  @include respond(tablet_portrait) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewX(15deg) skewY(2deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($black, .2);
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
}

.paragraph {
  font-size: 1.6rem;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
