.center-text {
  text-align: center !important;
}

.margin-bottom-xs {
  margin-bottom: 1.5rem !important;
}

.margin-bottom-sm {
  margin-bottom: 4rem !important;

  @include respond(tablet_portrait) {
    margin-bottom: 1rem !important;
  }
}

.margin-bottom-md {
  margin-bottom: 6rem !important;

  @include respond(tablet_portrait) {
    margin-bottom: 3rem !important;
  }
}

.margin-bottom-lg {
  margin-bottom: 8rem !important;

  @include respond(tablet_portrait) {
    margin-bottom: 5rem !important;
  }
}

.margin-top-xs {
  margin-top: 1.5rem !important;
}

.margin-top-sm {
  margin-top: 4rem !important;

  @include respond(tablet_portrait) {
    margin-top: 1rem !important;
  }
}

.margin-top-md {
  margin-top: 6rem !important;

  @include respond(tablet_portrait) {
    margin-top: 3rem !important;
  }
}

.margin-top-lg {
  margin-top: 8rem !important;

  @include respond(tablet_portrait) {
    margin-top: 5rem !important;
  }
}
