.container {
  display: grid;
  grid-template-rows: 80vh auto 40vw repeat(3, auto);
  grid-template-columns: 8rem minmax(6rem, 1fr) repeat(8, minmax(min-content, 14rem)) minmax(6rem, 1fr);

  & > * {
    font-size: 3rem;
    padding: 4rem;
  }
}

.features {
  background-color: teal;
  grid-column: 3 / 11;
}
