@mixin shadow-dark {
  box-shadow: 0 2rem 6rem rgba($black, .3);
}

@mixin shadow-light {
  box-shadow: 0 1rem 4rem rgba($black, .25);
}

@mixin shadow-super-light {
  box-shadow: 0 2rem 5rem rgba($black, .06);
}
